auth:
  enabled: false

container:
  resources:
    requests:
      cpu: 10m
      memory: 64Mi
    limits:
      cpu: 200m
      memory: 256Mi

reloader:
  resources:
    requests:
      cpu: 10m
      memory: 16Mi
    limits:
      cpu: 100m
      memory: 64Mi

promExporter:
  enabled: true
  podMonitor:
    enabled: true
    merge:
      metadata:
        labels:
          release: kube-prometheus-stack-1766503182
  resources:
    requests:
      cpu: 10m
      memory: 16Mi
    limits:
      cpu: 100m
      memory: 64Mi
