apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-backend-deployment
  namespace: project
  labels:
    app: todo-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-backend
  template:
    metadata:
      labels:
        app: todo-backend
    spec:
      containers:
        - name: todo-backend
          image: todo-backend/image
          imagePullPolicy: Always
          env:
            - name: PORT
              valueFrom:
                configMapKeyRef:
                  name: todo-backend-configmap
                  key: PORT
            - name: SERVICE_NAME
              valueFrom:
                configMapKeyRef:
                  name: todo-backend-configmap
                  key: SERVICE_NAME
            - name: POSTGRES_HOST
              valueFrom:
                configMapKeyRef:
                  name: todo-backend-configmap
                  key: POSTGRES_HOST
          ports:
            # Documents which port the container listens on (not strictly required but best practice)
            - containerPort: 3001
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "250m"
              memory: "256Mi"
